*{
    box-sizing: border-box;

}

/* setup */

/* 
Italic Light = h5
Light = h4
Regular = h3
Medium = h2
Bold = h1
*/

* h1{
font-family: "halcom", sans-serif;
font-weight: 700;
font-style: normal;
}

* h2{
font-family: "halcom", sans-serif;
font-weight: 500;
font-style: normal;
}

* h3{
font-family: "halcom", sans-serif;
font-weight: 400;
font-style: normal;
}

* h4{
font-family: "halcom", sans-serif;
font-weight: 100;
font-style: normal;
}

* h5{
font-family: "halcom", sans-serif;
font-weight: 200;
font-style: italic;
}

* strong{
font-family: "halcom", sans-serif;
font-weight: 700;
font-style: normal;
}

* p{
font-family: "halcom", sans-serif;
font-weight: 400;
font-style: normal; 
}

* li{
font-family: "halcom", sans-serif;
font-weight: 400;
font-style: normal; 
}

:root{
--leafblue: rgb(117,239,228);
--accessyblack: rgb(32,32,35);
--accessywhite: rgb(246,246,246);
--orangeorange: rgb(255,179,129);
--redpink: rgb(253,117,172);
--purplethanos: rgb(151,123,255);
--blueblue: rgb(130,192,255);
--greengrass: rgb(166,224,180);
}

/* body */
body{
  margin: 0 auto;       
  padding: 15px;       
  max-width: 393px;
  background-color: white;
  padding-bottom: 100px;
}

/* Top header */
header h1, h5{
    margin: 0;
}
.top h1{
    font-size: 36px;
}
.top h5{
    font-size: 20px;
    opacity: 60%;
}

/* tracker/calendar */
.tracker{
    display: flex;
    gap: 3px;
    padding-top: 30px;
}

.tracker img{
    max-width: 19px;
    margin: 0;
    opacity: 80%;
}

.tracker h1, h3{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    opacity: 90%;
}

.black{
    background-color: var(--accessyblack);
    border: 1.5px solid var(--accessyblack);
    border-radius: 15px;
    color: var(--accessywhite);
    padding: 5px 13px 6px 13px;
}

.white{
    border: 1.5px solid var(--accessyblack);
    border-radius: 15px;
    color: var(--accessyblack);
    padding: 5px 13px 6px 13px;
}


/* Reminders + cards */
/* Note: the layout keeps getting messed up when i was trying to add boldness onto part of text (like the pink card) */

.reminder img{
    max-width: 25px;
    opacity: 80%;
}

.reminder h1{
    font-size: 25px;
}

.reminder h4{
    font-size: 11px;
}

.cardstop{
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
    line-height: 0;
}

.cardsbottom{
    display: flex;
    gap: 5px;
    line-height: 0;
}

.cardpink {
    border-radius: 16px;
    background-color: var(--redpink);
}

.cardorange{
    border-radius: 16px;
    background-color: var(--orangeorange);
}

.cardblue {
    border-radius: 16px;
    background-color: var(--blueblue);
}

.cardpurple {
    border-radius: 16px;
    background-color: var(--purplethanos);
}

.info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin: 10px;
}

.pinkcardtext{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.orangecardtext{
    padding-left: 10px;
    padding-bottom: 10px;
}

.bottomcardtext{
    padding-bottom: 10px;
    padding-left: 10px;
}

/* Suggestions */

.suggestion h1{
font-size: 25px;
}

.suggestion1{
    border: 3px solid var(--greengrass);
    border-radius: 15px;
    padding: 10px 13px 10px 13px;
        margin-bottom: 10px;
}

.suggestion2{
    border: 3px solid var(--blueblue);
    border-radius: 15px;
    padding: 10px 13px 10px 13px;
    margin-bottom: 10px;
}

.suggestion3{
    border: 3px solid var(--blueblue);
    border-radius: 15px;
    padding: 10px 13px 10px 13px;
}

.suggestioncards strong{
margin-right: 5px;
margin-left: 5px;
}


/* Myth-Busters */

.mythbuster h1{
    font-size: 25px;
}

.mythcard{
font-size: 16px;
}

.mythcard strong{
    margin-left: 10px;
}

.mythcard{
    border: 3px solid var(--leafblue);
    border-radius: 15px;
    padding: 10px 13px 10px 13px;
    margin-bottom: 10px;
}


/* Last Asked */

.mythcard4{
    border: 3px solid var(--accessyblack);
    border-radius: 15px;
    padding: 10px 13px 10px 13px;
    margin-bottom: 10px;
}

.mythcard5{
    border: 3px solid var(--accessyblack);
    border-radius: 15px;
    padding: 10px 13px 10px 13px;
}

/* Navigation bar */


#nav-bar a {
  flex: 1; 
  text-align: center;
}

#nav-bar img {
  max-width: 35px;  
  margin: 0;        
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: var(--accessyblack);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 100;
    margin: 0 auto;       
    padding: 20px;       
    width: 393px;

}

.home{
    border-bottom: 2px solid var(--leafblue);
}

.search{
        border-bottom: 2px solid var(--leafblue);
}

.chat{
        border-bottom: 2px solid var(--leafblue);
}


/* Explore/Learn Page */



/* top header */
.header2{
    font-size: 25px;
}

.searchicon img {
    max-width: 25px;
    opacity: 80%;
    position: absolute;
    left: 15px;              
}

.searchicon h4 {
    font-size: 20px;
    opacity: 30%;
    margin: 0;
}

.searchicon {
   display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px solid var(--leafblue);
    border-radius: 20px;
}

/* category cards */

.explore-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
    max-width: 393px;

}

.card {
    padding: 10px 10px;
    border-radius: 16px;
    aspect-ratio: 1 / 1;
    color: var(--accessyblack);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    opacity: 80%;
    margin: 0 0 5px;
    font-size: 24px;
    font-weight: 700;
  
}

.card a{
    text-decoration: none;
    color: var(--accessyblack);
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card li {
    opacity: 60%;
    margin-bottom: 0;
    font-size: 14px;
}

.purple { background-color: var(--purplethanos) }
.blue   { background-color: var(--blueblue) }
.green  { background-color: var(--greengrass) }
.orange { background-color: var(--orangeorange) }

/* exercises list */

/* header */
.header3 img{
    max-width: 35px;
    opacity: 80%;
    margin: 0;
}

.header3 h2{
    font-size: 35px;
    margin: 0;
}

.header3 a{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    
}

.header3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-bottom: 60px;
    padding-top: 60px;
}

/* second search bar */
.searchicon2 img {
    max-width: 25px;
    opacity: 80%;
    position: absolute;
    left: 15px;              
}

.searchicon2 h4 {
    font-size: 20px;
    opacity: 30%;
    margin: 0;
}

.searchicon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--leafblue);
    border-radius: 20px;
}

/* two button types */
.types{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.types button{
    background-color: var(--purplethanos); 
    color: var(--accessyblack);  
    border: none;    
    padding: 5px 0; 
    flex: 1;           
    text-align: center;
    border-radius: 8px;    
    font-size: 16px;
    cursor: pointer; 
}

.recent h2{
    font-size: 16px;
    opacity: 50%;
}

/* exercise cards */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.exercise-box {
    background-color: var(--accessywhite);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.exercise-box img {
    margin-top: 15px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.exercise-box p {
    margin: 10px 0;
}

/* squat popup */

.exercise-text h1{
display: flex;
justify-content: center;
}


.exercise-guide {
    display: block;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 10px;
    background-color: white;
}

.gif-container {
    position: relative;
    margin: 15px 0;
}

.gif-container img {
    width: 100%;
    border-radius: 8px;
}

.pause-btn {
    border: none;
    border-radius: 50%;
    font-size: 16px;
    padding: 4px 8px;
}

.dropdown-btn {
    display: block;
    width: 100%;
    background: var(--purplethanos);
    text-decoration: none;
    color: var(--accessyblack);
    border: none;
    padding: 10px;
    text-align: left;
    border-radius: 15px;
    margin-top: 10px;
    box-sizing: border-box;
}

.dropdown-content {
    padding: 10px;
    border: 2px solid var(--purplethanos);
    border-radius: 20px;
    margin-top: 5px;
}

.dropdown-btn {
    font-family: "halcom", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

